##กิต ขันทอง 630710313

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('student.csv')

อ่านข้อมูลจากไฟล์ student.csv แล้วเก็บไว้ในรูปแบบตาราง ในตัวแปรชื่อ df

In [3]:
df.head()

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27

##การจัดการข้อมูลหาย

In [9]:
print("ก่อนลบ")
print(df)

ก่อนลบ
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN         Science  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง         Science  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

In [11]:
#วิธีที่ 1 ลบแถวที่มีค่าหาย
df_clean = df.dropna()

print(f"\nผลการลบ - ก่อนลบ {len(df)} แถว, หลังลบ {len(df_clean)} แถว")
print(df_clean)

ผลการลบ - ก่อนลบ 20 แถว, หลังลบ 15 แถว
    รหัสนักศึกษา      ชื่อ   อายุ     เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย   20.0     ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง   21.0    หญิง           วิทย์  3.45       165.0
3          64004  สมศักดิ์   22.0       ช  คณะวิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ   19.0       ญ           วิศวะ  3.89       160.0
5          64006     กานต์  150.0     ชาย     Engineering  3.12       172.0
6          64007     กิตติ   21.0    หญิง        วิศวกรรม  4.50       158.0
7          64008      จิรา   20.0       F      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป   23.0       M            Arts  3.34       163.0
9          64010      ดารา   21.0    หญิง           ศิลป์  3.56       167.0
12         64013     บุญมี   20.0    หญิง           วิศวฯ  3.23       169.0
13         64014     ปรีชา   21.0     ชาย    Liberal Arts  3.45       164.0
14         64015     พิมพ์   22.0  Female             Sci  3.67       162.0
15         64016      ภูมิ   19.0       ช     วิทยาศาสตร์  3.89       173.0
16         64017      มานี   20.0       ญ  วิศวกรรมศาสตร์  3.01       166.0
17         64018      ยุพา   21.0    หญิง         Science  3.23       161.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0         65.0                     15.0      2024-01-23
1         58.0                     20.0      2024-02-05
3         70.0                     10.0      2023-12-30
4         52.0                     30.0      2024-01-27
5         75.0                     12.0      2023-12-23
6         48.0                     35.0      2024-01-05
7         82.0                     18.0      2024-01-23
8         55.0                     22.0      2024-02-11
9         60.0                     28.0      2024-01-03
12        72.0                     24.0      2023-12-26
13        54.0                     19.0      2024-01-08
14        56.0                     26.0      2024-02-06
15        78.0                     14.0      2024-01-20
16        62.0                     21.0      2024-01-24
17        50.0                     27.0      2024-01-08

dropna จะลบแถวทั้งหมดออกจาก df ที่มีค่า NaN

In [12]:
#วิธีที่ 2 เติมค่าด้วยค่าเฉลี่ย
mean_age = df['อายุ'].mean()
df['อายุ'].fillna(mean_age, inplace=True)

print(f"\nค่าเฉลี่ยอายุ - {mean_age:.1f} ปี")
print("หลังเติมค่า")
print(df)

ค่าเฉลี่ยอายุ - 28.5 ปี
หลังเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN         Science  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง         Science  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

คำนวณค่าเฉลี่ยของข้อมูลในคอลัมน์ 'อายุ' แล้วเก็บไว้ในตัวแปร mean_age แล้วค้นหาค่า NaN ทั้งหมดในคอลัมน์ 'อายุ' แล้วแทนที่ด้วยค่า mean_age ที่คำนวณได้ โดยที่ inplace=True หมายถึงการแก้ไขข้อมูลใน df โดยตรง

In [13]:
#วิธีที่ 3 เติมค่าด้วยค่าที่พบบ่อยที่สุด
df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

print("\nหลังเติมค่า")
print(df)

หลังเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN         Science  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง         Science  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

เติมค่าว่างในคอลัมน์ 'คณะ' ด้วยค่าที่ปรากฏบ่อยที่สุด ของคอลัมน์นั้น โดยแก้ไขใน df โดยตรง

##การทำให้ข้อมูลเป็นมาตรฐาน

In [21]:
# ตัวอย่าง - ทำให้ชื่อคณะเป็นมาตรฐานเดียวกัน
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์','Sci']:
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts','Liberal Arts']:
        return 'ศิลปศาสตร์'
    elif name in ['วิศวกรรมศาสตร์', 'วิศวกรรม', 'วิศวะ','Engineering','วิศวฯ']:
        return 'วิศวกรรมศาสตร์'
    else:
        return name

# ใช้งาน
df['คณะ_มาตรฐาน'] = df['คณะ'].apply(standardize_faculty)

ใช้ฟังก์ชัน standardize_faculty เพื่อรวมชื่อคณะที่สะกดต่างกันให้เป็นมาตรฐานเดียวกันแล้วนำไปใช้สร้างคอลัมน์ใหม่ชื่อ คณะ_มาตรฐาน ใน df

In [22]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,คณะ_มาตรฐาน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23,วิทยาศาสตร์
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05,วิทยาศาสตร์
2,64003,NaN,28.470588,Male,Science,3.67,175.0,NaN,25.0,2024-01-13,วิทยาศาสตร์
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30,วิทยาศาสตร์
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27,วิศวกรรมศาสตร์
5,64006,กานต์,150.000000,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23,วิศวกรรมศาสตร์
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05,วิศวกรรมศาสตร์
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23,ศิลปศาสตร์
8,64009,ชนาธิป,23.000000,M,Arts,3.34,163.0,55.0,22.0,2024-02-11,ศิลปศาสตร์
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03,ศิลปศาสตร์
10,64011,ธีระ,28.470588,NaN,Science,3.78,NaN,68.0,NaN,2024-01-07,วิทยาศาสตร์
11,64012,นภา,22.000000,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26,วิทยาศาสตร์
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26,วิศวกรรมศาสตร์
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08,ศิลปศาสตร์
14,64015,พิมพ์,22.000000,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06,วิทยาศาสตร์
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20,วิทยาศาสตร์
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24,วิศวกรรมศาสตร์
17,64018,ยุพา,21.000000,หญิง,Science,3.23,161.0,50.0,27.0,2024-01-08,วิทยาศาสตร์
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18,ศิลปศาสตร์
19,64020,ลัดดา,22.000000,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06,วิทยาศาสตร์

##การจัดการค่าผิดปกติ

In [23]:
print(f"\nค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - {df['อายุ'].mean():.2f}")

ค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - 28.47

In [24]:
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)
IQR = Q3 - Q1

คำนวณหาค่าควอร์ไทล์ที่ 1 และ ค่าควอร์ไทล์ที่ 3 ของข้อมูลในคอลัมน์ 'อายุ' แล้วหาผลต่างระหว่าง Q3 และ Q1 แล้วเก็บไว้ในตัวแปร IQR

In [25]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

คำนวณหาขอบเขตล่างและขอบเขตบนเพื่อใช้ระบุค่าผิดปกติ
lower_bound จะคำนวณค่าขอบเขตล่าง โดยนำ Q1 มาลบด้วย 1.5 เท่าของ IQR
ีupper_bound จะคำนวณค่าขอบเขตบน โดยนำ Q3 มาบวกด้วย 1.5 เท่าของ IQR

In [26]:
df_no_outliers = df[(df['อายุ'] >= lower_bound) & (df['อายุ'] <= upper_bound)]

ทำให้ df ไม่มีแถวซึ่งคอลัมน์ 'อายุ' มีค่าอยู่นอกช่วง lower_bound และ upper_bound ซึ่งใช้ระบุค่าผิดปกติ

In [27]:
print(f"\nขอบเขตล่าง - {lower_bound}")
print(f"ขอบเขตบน - {upper_bound}")
print(f"\nข้อมูลหลังกรองค่าผิดปกติ")
print(df_no_outliers)
print(f"\nค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - {df_no_outliers['อายุ'].mean():.2f}")

ขอบเขตล่าง - 16.625
ขอบเขตบน - 25.625

ข้อมูลหลังกรองค่าผิดปกติ
    รหัสนักศึกษา      ชื่อ  อายุ     เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย  20.0     ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง  21.0    หญิง           วิทย์  3.45       165.0
3          64004  สมศักดิ์  22.0       ช  คณะวิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ  19.0       ญ           วิศวะ  3.89       160.0
6          64007     กิตติ  21.0    หญิง        วิศวกรรม  4.50       158.0
7          64008      จิรา  20.0       F      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป  23.0       M            Arts  3.34       163.0
9          64010      ดารา  21.0    หญิง           ศิลป์  3.56       167.0
11         64012       นภา  22.0     ชาย           วิทย์   NaN       171.0
12         64013     บุญมี  20.0    หญิง           วิศวฯ  3.23       169.0
13         64014     ปรีชา  21.0     ชาย    Liberal Arts  3.45       164.0
14         64015     พิมพ์  22.0  Female             Sci  3.67       162.0
15         64016      ภูมิ  19.0       ช     วิทยาศาสตร์  3.89       173.0
16         64017      มานี  20.0       ญ  วิศวกรรมศาสตร์  3.01       166.0
17         64018      ยุพา  21.0    หญิง         Science  3.23       161.0
19         64020     ลัดดา  22.0     NaN         Science  3.45       168.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน     คณะ_มาตรฐาน
0         65.0                     15.0      2024-01-23     วิทยาศาสตร์
1         58.0                     20.0      2024-02-05     วิทยาศาสตร์
3         70.0                     10.0      2023-12-30     วิทยาศาสตร์
4         52.0                     30.0      2024-01-27  วิศวกรรมศาสตร์
6         48.0                     35.0      2024-01-05  วิศวกรรมศาสตร์
7         82.0                     18.0      2024-01-23      ศิลปศาสตร์
8         55.0                     22.0      2024-02-11      ศิลปศาสตร์
9         60.0                     28.0      2024-01-03      ศิลปศาสตร์
11         NaN                     16.0      2023-12-26     วิทยาศาสตร์
12        72.0                     24.0      2023-12-26  วิศวกรรมศาสตร์
13        54.0                     19.0      2024-01-08      ศิลปศาสตร์
14        56.0                     26.0      2024-02-06     วิทยาศาสตร์
15        78.0                     14.0      2024-01-20     วิทยาศาสตร์
16        62.0                     21.0      2024-01-24  วิศวกรรมศาสตร์
17        50.0                     27.0      2024-01-08     วิทยาศาสตร์
19        64.0                     23.0      2024-01-06     วิทยาศาสตร์

ค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - 20.88

##One-Hot Encoding แปลงข้อมูลประเภทเป็นตัวเลข

In [31]:
data_encoded = pd.get_dummies(df, columns=['คณะ'])
print(data_encoded*1)

    รหัสนักศึกษา      ชื่อ        อายุ     เพศ   GPA  ส่วนสูง_cm  น้ำหนัก_kg  \
0          64001     สมชาย   20.000000     ชาย  3.21       170.0        65.0
1          64002    สมหญิง   21.000000    หญิง  3.45       165.0        58.0
2          64003       NaN   28.470588    Male  3.67       175.0         NaN
3          64004  สมศักดิ์   22.000000       ช -1.00       168.0        70.0
4          64005      สมใจ   19.000000       ญ  3.89       160.0        52.0
5          64006     กานต์  150.000000     ชาย  3.12       172.0        75.0
6          64007     กิตติ   21.000000    หญิง  4.50       158.0        48.0
7          64008      จิรา   20.000000       F  2.98       180.0        82.0
8          64009    ชนาธิป   23.000000       M  3.34       163.0        55.0
9          64010      ดารา   21.000000    หญิง  3.56       167.0        60.0
10         64011      ธีระ   28.470588     NaN  3.78         NaN        68.0
11         64012       นภา   22.000000     ชาย   NaN       171.0         NaN
12         64013     บุญมี   20.000000    หญิง  3.23       169.0        72.0
13         64014     ปรีชา   21.000000     ชาย  3.45       164.0        54.0
14         64015     พิมพ์   22.000000  Female  3.67       162.0        56.0
15         64016      ภูมิ   19.000000       ช  3.89       173.0        78.0
16         64017      มานี   20.000000       ญ  3.01       166.0        62.0
17         64018      ยุพา   21.000000    หญิง  3.23       161.0        50.0
18         64019     รัตนา   28.470588     ชาย   NaN       174.0        76.0
19         64020     ลัดดา   22.000000     NaN  3.45       168.0        64.0

    ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน     คณะ_มาตรฐาน  ...  คณะ_Science  \
0                      15.0      2024-01-23     วิทยาศาสตร์  ...            0
1                      20.0      2024-02-05     วิทยาศาสตร์  ...            0
2                      25.0      2024-01-13     วิทยาศาสตร์  ...            1
3                      10.0      2023-12-30     วิทยาศาสตร์  ...            0
4                      30.0      2024-01-27  วิศวกรรมศาสตร์  ...            0
5                      12.0      2023-12-23  วิศวกรรมศาสตร์  ...            0
6                      35.0      2024-01-05  วิศวกรรมศาสตร์  ...            0
7                      18.0      2024-01-23      ศิลปศาสตร์  ...            0
8                      22.0      2024-02-11      ศิลปศาสตร์  ...            0
9                      28.0      2024-01-03      ศิลปศาสตร์  ...            0
10                      NaN      2024-01-07     วิทยาศาสตร์  ...            1
11                     16.0      2023-12-26     วิทยาศาสตร์  ...            0
12                     24.0      2023-12-26  วิศวกรรมศาสตร์  ...            0
13                     19.0      2024-01-08      ศิลปศาสตร์  ...            0
14                     26.0      2024-02-06     วิทยาศาสตร์  ...            0
15                     14.0      2024-01-20     วิทยาศาสตร์  ...            0
16                     21.0      2024-01-24  วิศวกรรมศาสตร์  ...            0
17                     27.0      2024-01-08     วิทยาศาสตร์  ...            1
18                      NaN      2023-12-18      ศิลปศาสตร์  ...            0
19                     23.0      2024-01-06     วิทยาศาสตร์  ...            1

    คณะ_คณะวิทยาศาสตร์  คณะ_วิทยาศาสตร์  คณะ_วิทย์  คณะ_วิศวกรรม  \
0                    0                1          0             0
1                    0                0          1             0
2                    0                0          0             0
3                    1                0          0             0
4                    0                0          0             0
5                    0                0          0             0
6                    0                0          0             1
7                    0                0          0             0
8                    0                0          0             0
9                    0                0          0             0
10                   0                0          0             0
11                   0                0          1             0
12                   0                0          0             0
13                   0                0          0             0
14                   0                0          0             0
15                   0                1          0             0
16                   0                0          0             0
17                   0                0          0             0
18                   0                0          0             0
19                   0                0          0             0

    คณะ_วิศวกรรมศาสตร์  คณะ_วิศวฯ  คณะ_วิศวะ  คณะ_ศิลปศาสตร์  คณะ_ศิลป์
0                    0          0          0               0          0
1                    0          0          0               0          0
2                    0          0          0               0          0
3                    0          0          0               0          0
4                    0          0          1               0          0
5                    0          0          0               0          0
6                    0          0          0               0          0
7                    0          0          0               1          0
8                    0          0          0               0          0
9                    0          0          0               0          1
10                   0          0          0               0          0
11                   0          0          0               0          0
12                   0          1          0               0          0
13                   0          0          0               0          0
14                   0          0          0               0          0
15                   0          0          0               0          0
16                   1          0          0               0          0
17                   0          0          0               0          0
18                   0          0          0               1          0
19                   0          0          0               0          0

[20 rows x 24 columns]

แปลงคอลัมน์ 'คณะ' ใน  df ให้เป็นตัวเลขในรูปแบบ One-Hot Encoding แล้วแสดงผลลัพธ์ ที่มีค่า 0 หรือ 1

##การสร้าง Feature จากวันเวลา

In [33]:
df['วันที่ลงทะเบียน'] = pd.to_datetime(df['วันที่ลงทะเบียน'])

df['เดือนที่ลงทะเบียน'] = df['วันที่ลงทะเบียน'].dt.month
df['ปีที่ลงทะเบียน'] = df['วันที่ลงทะเบียน'].dt.year
df['วันในสัปดาห์ที่ลงทะเบียน'] = df['วันที่ลงทะเบียน'].dt.day_name()
df['วันในเดือนที่ลงทะเบียน'] = df['วันที่ลงทะเบียน'].dt.day

แปลงคอลัมน์ 'วันที่ลงทะเบียน' ให้เป็นรูปแบบวันที่-เวลา และสร้างคอลัมน์ใหม่ 4 คอลัมน์ ได้แก่ 'เดือนที่ลงทะเบียน', 'ปีที่ลงทะเบียน', 'วันในสัปดาห์ที่ลงทะเบียน' และ 'วันในเดือนที่ลงทะเบียน' เพื่อแยกข้อมูล

In [34]:
print(df[['วันที่ลงทะเบียน', 'เดือนที่ลงทะเบียน', 'ปีที่ลงทะเบียน', 'วันในสัปดาห์ที่ลงทะเบียน']].head())

  วันที่ลงทะเบียน  เดือนที่ลงทะเบียน  ปีที่ลงทะเบียน วันในสัปดาห์ที่ลงทะเบียน
0      2024-01-23                  1            2024                  Tuesday
1      2024-02-05                  2            2024                   Monday
2      2024-01-13                  1            2024                 Saturday
3      2023-12-30                 12            2023                 Saturday
4      2024-01-27                  1            2024                 Saturday

##การรวม Features

In [35]:
df['BMI'] = df['น้ำหนัก_kg'] / (df['ส่วนสูง_cm']/100)**2
df['สุขภาพ'] = pd.cut(df['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

โค้ดนี้คำนวณค่า BMI โดยการนำค่าน้ำหนัก มาหารด้วยส่วนสูง ที่แปลงเป็นเมตร ยกกำลังสอง ตามสูตร BMI  และ จัดหมวดหมู่สุขภาพตาม BMI ออกเป็น 4 ช่วง เป็น 'ผอม', 'ปกติ', 'อ้วน', และ 'อ้วนมาก'

In [36]:
print(df[['ชื่อ', 'BMI', 'สุขภาพ']])

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN        NaN    NaN
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ        NaN    NaN
11       นภา        NaN    NaN
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ